@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/* The hero image */
.hero-image img {
   

    /* Set a specific height */
    width:100%;

    /* Position and center the image to scale nicely on all screens */
 
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
    transform:translate(-50%,-50%s);
    color: white;
}

.content h1{
	font-family:'Raleway',sans-serif;
	color: #F9F3F4;
	font-size:500%;
}

p{
	font-size:160;
	line-height:210%;
	text-align: justify;
}
body{
	background-image: url('download12.jpg');
}